* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#title-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}

th {
    padding: 5px;
}

#paragraph {
    color: red;
}

#searchDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

input {
    padding: 8px;
    border: 1px 1px 1px;
    width: 204px;
}

button {
    width: 204px;
    height: 35px;
    padding: 10px;
    margin-left: 10px;
}

#table-style {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

td {
    padding: 7px;
}
